@theme {
  --color-clr0: oklch(0.999 0 0);
  --color-clr1: oklch(0.975 0 0);
  --color-clr2: oklch(0.945 0 0);
  --color-clr10: oklch(0.9159 0.0178 296.61);
  
  --color-main: oklch(0.2215 0.1397 269.89);

  --color-btn-main: oklch(0.8444 0.0406 296.57);
  --color-btn-main-hover: oklch(0.8444 0.0906 296.57);
  --color-btn-main-active: oklch(0.8244 0.0606 296.57);
  --color-btn-main-text: oklch(0.2215 0.1397 269.89);

  --color-border: oklch(0.885 0 0);

  --color-blur: oklch(0.6086 0.0592 295.17);
}

@layer base {
  input {
    outline: none;
  }

  .btn{
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    color: var(--text-color-btn);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: background-color .15s ease-in;

    &-main{
      background-color: var(--color-btn-main);
      &:hover{
        background-color: var(--color-btn-main-hover);
      }
      &:active{
        background-color: var(--color-btn-main-active);
      }

      &-light{
        padding: 6px 18px;
        border-radius: 6px;
      }
    }

    &-logout{
      padding: 4px 4px;
      border: 2px solid var(--btn-color-logout-border);
      border-radius: 6px;
      color: var(--text-color);

      &:hover{
        background-color: var(--btn-color-logout-hover);
      }
      &:active{
        background-color: var(--btn-color-logout-active);
      }
    }

    &-file{
      fill: var(--text-color-btn);
      background-color: var(--btn-color-file);
      &:hover{
        background-color: var(--btn-color-file-hover);
      }
      &:active{
        background-color: var(--btn-color-file-active);
      }
    }

    &-light{
      padding: 4px 16px;
      font-size: 20px;
      border-radius: 6px;
      color: var(--text-color);
      background-color: transparent;

      &-good{
        border: 2px solid var(--btn-color-main);
        &:hover{
          background-color: #22700042;
        }
        &:active{
          background-color: #18500042;
        }
      }

      &-bad{
        border: 2px solid var(--btn-color-bad);
        &:hover{
          background-color: #cf2e2e42;
        }
        &:active{
          background-color: #8f161642;
        }
      }
    }
  }
}

@layer components {
    
}
